

.inputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.875em;
  font-size: 0.875rem;
	opacity: 0.7;
	font-weight: 400;
	color: #1d1d1d;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.textarea {
  min-height: 100px; 
  resize: none; 
}
.input, .textarea {
  padding-left: 100px;
  padding: 1rem 1.125rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.input::placeholder, .textarea::placeholder {
	font-size: 0.95em;
  font-family: var(--font-nunito);
}

.hasError .input,  .hasError .textarea{
  border-color: #be1f2a;
}

.inputWrapper:has(.textarea) {
  flex-grow: 1;
  align-items: stretch;
}


.errorText {
  position: absolute;
  right: 22px;
  top: 16px;
  color: #be1f2a;
  font-size: 0.875rem;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
